---
---

<div id="hello">
  <div class="container">
    <div class="row">
      <div class="">
        <h1>JR東日本 乗車人員グラフ</h1>
      </div><!-- / -->
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /hello -->

<div id="green">
  <div class="container">
    <div class="row">
      <h3>年間乗車人員のグラフ表示</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /green -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="graph-title">新宿</h3>
      <canvas id="graph" width="800" height="400"></canvas>
    </div>
    <script>
      $(function() {
        $(document).on('click', 'tr[data-href]', function(e) {
          var city;
          city = $(e.target).closest('tr').data('href').split("#")[1];
          $(".graph-title").html(city);
          renderingGraph(city);
          return false;
        });

        renderingGraph("新宿");

      });

    function renderingGraph(city) {
      var years = [ 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, ];

      var totalDatas = [];
      var ylen = years.length;
      for(var i = 0; i < ylen; i++) {
        $.ajaxSetup({async: false});
        $.getJSON("javascripts/json/" + years[i] + ".json" , function(data) {
          var len = data.length;
          var totalData = 0;

          for(var i = 0; i < len; i++) {
            if (data[i].city == city) {
              totalData = data[i].total;
            }
          }
          totalDatas.push(totalData);
        });
        $.ajaxSetup({async: true});
      }

      var data = {
        labels : years,
        datasets : [ {
          fillColor : "rgba(151,187,205,0.5)",
      strokeColor : "rgba(151,187,205,1)",
      pointColor : "rgba(151,187,205,1)",
      pointStrokeColor : "#fff",
      data : totalDatas } ]
      };
      var ctx = $("#graph").get(0).getContext("2d");
      new Chart(ctx).Line(data);
    }
    </script>
  </div><!-- /row -->
</div> <!-- /container -->

<div id="green">
  <div class="container">
    <div class="row col-lg-8 col-lg-offset-3">
      <div class="col-xs-4">
        <ul id="tabes" class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#2012">2012</a></li>
          <li><a data-toggle="tab" href="#2011">2011</a></li>
          <li><a data-toggle="tab" href="#2010">2010</a></li>
          <li><a data-toggle="tab" href="#2009">2009</a></li>
          <li><a data-toggle="tab" href="#2008">2008</a></li>
          <li><a data-toggle="tab" href="#2007">2007</a></li>
          <li><a data-toggle="tab" href="#2006">2006</a></li>
          <li><a data-toggle="tab" href="#2005">2005</a></li>
          <li><a data-toggle="tab" href="#2004">2004</a></li>
          <li><a data-toggle="tab" href="#2003">2003</a></li>
          <li><a data-toggle="tab" href="#2002">2002</a></li>
          <li><a data-toggle="tab" href="#2001">2001</a></li>
          <li><a data-toggle="tab" href="#2000">2000</a></li>
          <li><a data-toggle="tab" href="#1999">1999</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <table class="table table-bordered table-hover table-scroll">
          <tbody class="tbody-list"></tbody>
        </table>
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /green -->

<section id="contact"></section>
<div id="social">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <a href="https://twitter.com/soramugi"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /social -->

<div id="f">
  <div class="container">
    <div class="row">
      <p>Crafted with <i class="fa fa-heart"></i> by @soramugi.</p>
    </div>
  </div>
</div>


<script>
  $(function() {
    $(document).on('click', 'a[data-toggle="tab"]', function(e) {
      var year;
      year = e.target.href.split("#")[1];
      list(year);
      return false;
    });

    // ブラウザ読み込み時に実行
    list("2012");

    // jsonから年別のデータ取得、.tbody-listに出力
    function list(year) {
      $.getJSON("javascripts/json/" + year + ".json" , function(data) {
        var listObj = $(".tbody-list");
        listObj.html('<tr> <th>Rank</th> <th>City</th> <th>Total</th> </tr>');
        var len = data.length;

        for(var i = 0; i < len; i++) {
          listObj.append(
            $("<tr data-href='#"+data[i].city+"'>")
              .append($("<td>").text(data[i].rank))
            .append($("<td>").text(data[i].city))
            .append($("<td>").text(data[i].total))
          );
        }
      });
    }

  });
</script>
